/* assets/vendor/css/fonts.css */

/* Reguler (300) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/plus-jakarta-sans/plus-jakarta-sans-v12-latin-300.woff2') format('woff2');
}

/* Regular (400) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans/plus-jakarta-sans-v12-latin-regular.woff2') format('woff2');
}


/* Medium (500) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/plus-jakarta-sans/plus-jakarta-sans-v12-latin-500.woff2') format('woff2');
}

/* Semi-Bold (600) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/plus-jakarta-sans/plus-jakarta-sans-v12-latin-600.woff2') format('woff2');
}


/* Bold (700) */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/plus-jakarta-sans/plus-jakarta-sans-v12-latin-700.woff2') format('woff2');
}

/* Regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v50-latin-regular.woff2') format('woff2'); 
}

/* Bold */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v50-latin-700.woff2') format('woff2');
}